.contact{
    background-color: #ddd;
}
.main-title {
    color: var(--primary-orange);
}
@media (max-width:767px) {
    .des-contact{
        width: 78%;
        margin: 0 auto 25px;
    }
}




.contact input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    background-color:#ddd;
    border-bottom: 3px solid #eee;
    padding: 10px;
}
input:focus,
textarea:focus{
    outline: none;
}


textarea{
    width: 70%;
    resize: none;
    border: none;
    background-color:#ddd;
    border-bottom: 3px solid #eee;
    height: 230px;
    margin-top: 20px;
    margin-left: 20px;
}
.contact .btn-contact{
    text-decoration: none;
    margin: 20px 0 ;
    display: block;
    padding: 10px 15px;
    width: 70%;
    border: 1px solid var(--primary-red);
    margin-left: 20px;
    color: var(--primary-white);
    transition: 0.3s;
}
.contact .btn-contact:hover{
    background-color: var(--primary-hover-red);
}