@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}

:root{
    --primary-white: #fff;
    --primary-orange : #f9ab00;
    --primary-dark : rgba(255,255,255 , 0)
}

nav{
    z-index: 9999999999999999999999999999 !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    font-size: .8rem;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: 0.3s;
}


.navbar-nav .nav-item{
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 12px;
    margin-left: 12px;
    color: var(--primary-white) !important ;
    border-top: 3px solid var(--primary-dark) ;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus{
border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
    border-top: 3px solid var(--primary-orange);
}
